# ======================
# BACKEND .NET
# ======================
bin/
obj/
publish/
*.user
*.suo

# ======================
# FRONTEND ANGULAR
# ======================
node_modules/
dist/
.angular/

# ======================
# VISUAL STUDIO / VS CODE
# ======================
.vs/
.vscode/

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# OS
# ======================
Thumbs.db
.DS_Store

# ======================
# SQL
# ======================

*.sql