<div class="auth-page">
  <div class="auth-visual">
    <div class="av-content">
      <div class="logo-ring">
        <img
          src="assets/logo.png"
          alt="Logo"
          [class.oculto]="errorLogo()"
          (error)="errorLogo.set(true)"
        />

        @if (errorLogo()) {
          <span class="fallback-icon">💧</span>
        }
      </div>
      <h1>ACQUALIFE</h1>
      <p>
        Sistema integral de gestión de productos yventas de la emprasa ACQUALIFE.
      </p>
      <ul>
        <li><span>✓</span> Gestión de ventas en tiempo real</li>
        <li><span>✓</span> Reportes PDF y Excel</li>
        <li><span>✓</span> Control de inventario</li>
      </ul>
    </div>
  </div>
  <div class="auth-form-panel">
    <div class="auth-box">
      <a routerLink="/" class="btn-volver">← Volver al inicio</a>
      <h2>Bienvenido</h2>
      <p class="sub">Ingresa tus credenciales para continuar</p>
      <app-alert [mensaje]="error()" tipo="error" />
      <app-alert [mensaje]="exito()" tipo="success" />
      <form (ngSubmit)="onLogin()">
        <div class="fg">
          <label>Correo electrónico</label
          ><input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="correo@ejemplo.com"
            required
          />
        </div>
        <div class="fg">
          <label>Contrasenia</label>
          <div class="pw-wrap">
            <input
              [type]="verPass() ? 'text' : 'password'"
              [(ngModel)]="password"
              name="password"
              placeholder="••••••••"
              required
            /><button type="button" (click)="verPass.set(!verPass())">
              {{ verPass() ? "🙈" : "👁" }}
            </button>
          </div>
        </div>
        <button type="submit" class="btn-submit" [disabled]="cargando()">
          {{ cargando() ? "Ingresando..." : "Ingresar al sistema" }}
        </button>
      </form>
      <p class="switch">
        ¿No tienes cuenta?
        <a routerLink="/auth/registro" [queryParams]="{ returnUrl: returnUrl }">Regístrate gratis</a>
      </p>
      <div class="olvPass">
        <p class="switch">
          ¿Olvidaste tu contraseña?
          <a (click)="olvideModal.set(true)">Recuperar contraseña</a>
        </p>
      </div>
    </div>
  </div>
</div>

@if (olvideModal()) {
  <div class="ov" (click)="olvideModal.set(false)">
    <div class="mo" (click)="$event.stopPropagation()">
      <div class="mh">
        <span>Recuperar contraseña</span>
        <button (click)="olvideModal.set(false)">✕</button>
      </div>

      <div class="mb">
        <app-alert
          [mensaje]="mensajeRecuperacion()"
          [tipo]="tipoMensajeRecuperacion()"
        />

        <div class="fg">
          <label>Correo o teléfono</label>
          <input
            [(ngModel)]="datoRecuperacion"
            placeholder="correo@ejemplo.com o 0987654321"
          />
        </div>
      </div>

      <div class="mf">
        <button class="btn-s" (click)="olvideModal.set(false)">Cancelar</button>

        <button class="btn-submit" (click)="recuperarPassword()">
          {{ cargandoRecuperacion() ? "Enviando..." : "Enviar recuperación" }}
        </button>
      </div>
    </div>
  </div>
}

@if (modalCambiarPassword()) {
  <div class="ov">
    <div class="mo">
      <div class="mh">
        <span>Cambiar contraseña</span>
      </div>

      <div class="mb">
        <app-alert
          [mensaje]="mensajeCambioPassword()"
          [tipo]="tipoCambioPassword()"
        />

        <div class="fg">
          <label>Nueva contraseña</label>

          <input type="password" [(ngModel)]="nuevaPassword" />
        </div>

        <div class="fg">
          <label>Confirmar contraseña</label>

          <input type="password" [(ngModel)]="confirmarPassword" />
        </div>
      </div>

      <div class="mf">
        <button class="btn-submit" (click)="cambiarPassword()">
          Cambiar contraseña
        </button>
      </div>
    </div>
  </div>
}
